organization.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Organization"
             targetNamespace="urn:Organization"
             xmlns:tns="urn:Organization"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="FilterRequest">
        <part name="params" type="xsd:string"/>
    </message>

    <message name="FilterResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <message name="LoginRequest">
        <part name="login" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
    </message>

    <message name="LoginResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <portType name="FilterPort">
        <operation name="doFilter">
            <input message="tns:FilterRequest"/>
            <output message="tns:FilterResponse"/>
        </operation>
        <operation name="login">
            <input message="tns:LoginRequest"/>
            <output message="tns:LoginResponse"/>
        </operation>
    </portType>

    <binding name="FilterBinding" type="tns:FilterPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="doFilter">
            <soap:operation soapAction="urn:FilterAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="login">
            <soap:operation soapAction="urn:LoginAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="WSDLService">
        <port name="FilterPort" binding="tns:FilterBinding">
            <soap:address location="http://localhost/soap/soap-server.php"/>
        </port>
    </service>
</definitions>