soap/RicezioneFatture_v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:types="http://www.fatturapa.gov.it/sdi/ws/ricezione/v1.0/types"
	xmlns:tns="http://www.fatturapa.gov.it/sdi/ws/ricezione/v1.0"
	targetNamespace="http://www.fatturapa.gov.it/sdi/ws/ricezione/v1.0">

	<!-- TIPI -->
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.fatturapa.gov.it/sdi/ws/ricezione/v1.0/types" schemaLocation="RicezioneTypes_v1.0.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGGI -->
	<wsdl:message name="richiestaRiceviFatture_Msg">
		<wsdl:part name="parametersIn" element="types:fileSdIConMetadati" />
	</wsdl:message>
	
	<wsdl:message name="rispostaRiceviFatture_Msg">
		<wsdl:part name="parametersOut" element="types:rispostaRiceviFatture" />
	</wsdl:message>

	<wsdl:message name="notificaRicezioneFatture_Msg">
		<wsdl:part name="parametersNotifica" element="types:fileSdI" />
	</wsdl:message>

	<!-- PORT TYPE -->
	<wsdl:portType name="RicezioneFatture">
		<wsdl:operation name="RiceviFatture">
			<wsdl:input message="tns:richiestaRiceviFatture_Msg" />
			<wsdl:output message="tns:rispostaRiceviFatture_Msg" />
		</wsdl:operation>
		
		<wsdl:operation name="NotificaDecorrenzaTermini">
			<wsdl:input message="tns:notificaRicezioneFatture_Msg" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- PORT BINDING -->
	<wsdl:binding name="RicezioneFatture_binding" type="tns:RicezioneFatture">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RiceviFatture">
			<soapbind:operation soapAction="http://www.fatturapa.it/RicezioneFatture/RiceviFattureSdI" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="NotificaDecorrenzaTermini">
			<soapbind:operation soapAction="http://www.fatturapa.it/RicezioneFatture/NotificaDecorrenzaTermini" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="RicezioneFatture_service">
		<wsdl:port name="RicezioneFatture_port" binding="tns:RicezioneFatture_binding">
			<soapbind:address location="http://servizi.fatturapa.it/RicezioneFatture" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
